<%= render 'shared/settings_navbar' %>
<div class="settings-container">
  <div class="profile-pic-container clickable" data-toggle="modal" data-target=".user-modal">
    <%= image_tag current_user.photos.first.photo.url, class:'profile-pic', alt: "profile-pic" %>
  </div>

  <h2><%= "#{current_user.name}, #{current_user.age}" %></h2>
  <%= link_to "Edit profile", edit_user_path(current_user)  %>
  <div class="preference">
    <p>Preference</p>
    <div class="checked-state contact-type">
      <%= link_to change_preference_path(preference: 'male'), remote: true, method: :post do %>
        <span class='<%= "option-circle male #{@male_on}" %>'><i class="fas fa-mars"></i></span>
      <% end %>

      <%= link_to change_preference_path(preference: 'female'), remote: true, method: :post do %>
        <span class='<%= "option-circle female #{@female_on}" %>'><i class="fas fa-venus"></i></span>
      <% end %>
    </div>
  </div>

  <%= link_to destroy_user_session_path, method: :delete, class:'btn-logout' do %>
    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
  <% end %>
</div>

<%= render 'matches/user_modal', user: current_user %>


<%= content_for(:after_js) do %>
  <%= javascript_pack_tag "preference" %>
<% end %>
