<div class="match-ask-time">
  <div class="calender-header">
    <p>Free drink with <strong><%= user.name %></strong></p>
  </div>
  <div class="calender-date">
   <h3><%= @match.meet_up_time.meet_up_time.strftime("%e %B at %l:%M%p")%></h3>
  </div>
</div>

<div class="match-response">
  <div class="match-accept btn-respond accept" data-user="<%= current_user.id %>" data-match="<%= @match.id %>"><i class="fas fa-check"></i></div>

  <div class="match-decline btn-respond decline" data-user="<%= current_user.id %>" data-match="<%= @match.id %>">
    <i class="fas fa-sync-alt"></i></div>
</div>
