<div class="navbar-wagon">
  <%= render 'shared/logo'%>
  <%= render 'shared/matches_button'%>
  <div class="placeholder"></div>
</div>
<div class="new-matches-container">
  <div class="site-wrap">
    <div class="messages">
      <div class="header">MATCHES</div>
    </div>
  </div>
</div>
  <% @matches.each do |match| %>
    <%= link_to user_match_path(current_user, match), class: 'link-decoration' do %>
      <div class="message">
        <img class="avatar-large" src="<%= match.first_user == current_user ? match.last_user.photos.first.photo : match.first_user.photos.first.photo %>">
        <div class="message-body">
          <h6><%= match.first_user == current_user ? match.last_user.name : match.first_user.name %></h6>
          <p>
            <%= match.coupon.content %>
          </p>
        </div>
        <div class="message-status">
          <% if match.coupon.used %>
            <i class="used fas fa-circle"></i>
          <% elsif match.coupon.in_past? && match.meet_up_time.one_pending? %>
            <i class="expired fas fa-circle"></i>
          <% elsif match.coupon.in_future? && match.meet_up_time.one_pending? %>
            <i class="yet-agreed fas fa-circle"></i>
          <% elsif match.coupon.in_future? && match.meet_up_time.both_accepted?  %>
            <i class="pending fas fa-circle"></i>
          <% end %>
        </div>
      </div>
    <% end %>
<% end %>
